
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SuccessView</title>
</head>
<body>
    <div><center><span style="color:green;font-weight:bold;">Your Payment has been placed successfully</span></center></h1>
    </div>
</body>
</html>
